global
#	log /dev/log	local0
#	log /dev/log	local1 notice
        ulimit-n        100043
        log             127.0.0.1       local0
        log             127.0.0.1       local1 notice	
#	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
#	user haproxy
#	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3
	maxconn 50000
	tune.ssl.default-dh-param 2048

defaults
#	log	global
#	log 127.0.0.1 local0 debug
	log 127.0.0.1   local0
	mode	http
	option forwardfor
   	option http-server-close
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  100000
        timeout server  100000
	errorfile 400 /usr/local/etc/haproxy/errors/400.http
	errorfile 403 /usr/local/etc/haproxy/errors/403.http
	errorfile 408 /usr/local/etc/haproxy/errors/408.http
	errorfile 500 /usr/local/etc/haproxy/errors/500.http
	errorfile 502 /usr/local/etc/haproxy/errors/502.http
	errorfile 503 /usr/local/etc/haproxy/errors/503.http
	errorfile 504 /usr/local/etc/haproxy/errors/504.http
	stats enable
   	stats uri /stats
   	stats realm Haproxy\ Statistics
  	stats auth user:anakjakarta

#	frontend smtp-in	
#		bind *:25
#		mode tcp
#		option tcplog
#		acl host_smtpbeta hdr_beg(host) -i beta.vivagroup.co.id
#		use_backend smtpbeta	if host_smtpbeta

	frontend www-http
		bind *:80
		maxconn 500000		
		reqadd X-Forwarded-Proto:\ http
		acl host_siakad   	hdr(host) -i siakad.esaunggul.ac.id
		acl letsencrypt-acl path_beg /.well-known/acme-challenge/
		use_backend siakad if host_siakad
		use_backend letsencrypt-backend if letsencrypt-acl
		acl host_library hdr(host) -i library.esaunggul.ac.id
                use_backend library if host_library
		acl host_recruitment hdr(host) -i recruitment.esaunggul.ac.id
                use_backend recruitment if host_recruitment
		acl host_simueu hdr(host) -i simueu.esaunggul.ac.id
                use_backend simueu if host_simueu
		acl host_pendaftaran hdr(host) -i pendaftaran.esaunggul.ac.id
                use_backend pendaftaran if host_pendaftaran
		acl host_mutu hdr(host) -i mutu.esaunggul.ac.id
                use_backend mutu if host_mutu		
		acl host_h2h hdr(host) -i h2h.esaunggul.ac.id
                use_backend h2h if host_h2h
		acl host_siakad_inaba hdr(host) -i siakad.inaba.ac.id
                use_backend siakad_inaba if host_siakad_inaba		
		acl host_emeeting_esaunggul hdr(host) -i emeeting.esaunggul.ac.id
                use_backend emeeting_esaunggul if host_emeeting_esaunggul
		acl host_nms_esaunggul hdr(host) -i nms.esaunggul.ac.id
                use_backend nms_esaunggul if host_nms_esaunggul

	frontend www-https
  		bind *:443 ssl crt /etc/ssl/siakad.inaba.ac.id/siakad.inaba.ac.id.pem crt /etc/ssl/esaunggul.ac.id/esaunggul.ac.id.pem
		reqadd X-Forwarded-Proto:\ https
 		acl host_siakad hdr(host) -i siakad.esaunggul.ac.id
		use_backend siakad if host_siakad
		acl host_library hdr(host) -i library.esaunggul.ac.id
                use_backend library if host_library
		acl host_recruitment hdr(host) -i recruitment.esaunggul.ac.id
                use_backend recruitment if host_recruitment
		acl host_simueu hdr(host) -i simueu.esaunggul.ac.id
                use_backend simueu if host_simueu
		acl host_pendaftaran hdr(host) -i pendaftaran.esaunggul.ac.id
                use_backend pendaftaran if host_pendaftaran
		acl host_mutu hdr(host) -i mutu.esaunggul.ac.id
                use_backend mutu if host_mutu
		acl host_h2h hdr(host) -i h2h.esaunggul.ac.id
                use_backend h2h if host_h2h
		acl host_siakad_inaba hdr(host) -i siakad.inaba.ac.id
                use_backend siakad_inaba if host_siakad_inaba
		acl host_emeeting_esaunggul hdr(host) -i emeeting.esaunggul.ac.id
                use_backend emeeting_esaunggul if host_emeeting_esaunggul	
		acl host_nms_esaunggul hdr(host) -i nms.esaunggul.ac.id
                use_backend nms_esaunggul if host_nms_esaunggul
#	backend smtpbeta
#		server smtpbeta	10.95.100.61:25 check
	# LE Backend
	backend letsencrypt-backend
    		server letsencrypt 127.0.0.1:8888		

	backend library
		redirect scheme https if !{ ssl_fc }
		server library 118.97.153.241:80 check
	backend simueu
                redirect scheme https if !{ ssl_fc }
                server simueu 118.97.153.246:80 check
	 backend recruitment
                redirect scheme https if !{ ssl_fc }
                server recruitment 118.97.153.235:80 check
	backend siakad
   		redirect scheme https if !{ ssl_fc }
   		server siakad 118.97.153.235:80 check
	backend pendaftaran
                redirect scheme https if !{ ssl_fc }
                server pendaftaran 118.97.153.235:80 check
	backend mutu
                redirect scheme https if !{ ssl_fc }
                server mutu 118.97.153.235:80 check
	backend h2h
                redirect scheme https if !{ ssl_fc }
                server h2h 118.97.153.235:80 check
	backend siakad_inaba
                redirect scheme https if !{ ssl_fc }
                server siakad_inaba 45.77.250.186:80 check
	backend emeeting_esaunggul
                redirect scheme https if !{ ssl_fc }
                server emeeting_esaunggul 128.199.215.231:80 check
	backend nms_esaunggul
                redirect scheme https if !{ ssl_fc }
                server nms_esaunggul 182.16.164.249:8082 check
